<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Acerca de Nosotros</title>
  </head>
  <body>
    <div class="text-center flex items-center flex-col">
      <div class="bg-black text-center  text-white w-full h-10 flex justify-center flex-col">
        <a href="../../index.html" >My Eating Like</a>
      </div>
      <div
        class="text-2xl h-12 flex w-full flex-col justify-center font-semibold bg-gradient-to-l from-slate-400 to-zinc-100 mb-10 relative"
      >
        Acerca De Mi
      </div>
      <div class="flex flex-col items-center carrusel w-4/5">
        <div
          class="h-96 w-screen md:w-10/12 lg:w-2/3 bg-gradient-to-bl to-zinc-200 from-slate-500 grid grid-cols-1 justify-items-center shadow-md shadow-gray-600 hover:shadow-lg hover:shadow-zinc-700 rounded-md"
        >
          <div
            class="bg-white w-2/3 h-80 col-span-1 border-2 border-slate-500 box-border mb-4 mt-8 rounded-lg flex flex-col items-center"
          >
            <p
              class="italic text-center font-medium text-sm sm:text-lg md:text-xl lg:text-xl w-4/5"
            >
              En estos proyectos pongo en practica mis conocimientos. Me
              desempeño en el el Rol de frontend y estoy interesado en la parte
              backend en el que trabaje con proyectos mvc con tecnologia de
              Django y en aprendisaje con Node js con Express js manejando
              Postgresql.
            </p>
          </div>
        </div>
        <div
          class="h-96 w-screen md:w-10/12 lg:w-2/3 bg-gradient-to-bl to-slate-400 from-rose-100 grid-cols-1 justify-items-center hidden shadow-md shadow-gray-600 hover:shadow-lg hover:shadow-zinc-700 rounded-md"
        >
          <div
            class="bg-white flex items-center flex-col w-2/3 h-80 col-span-1 border-2 border-slate-500 box-border mb-4 mt-8 rounded-lg"
          >
            <h1 class="text-center mt-4 text-lg md:text-2xl lg:text-2xl">
              <b>Proyectos que he realizado</b>
            </h1>
            <div class="w-70 flex flex-col items-center mt-2">
              <ul
                class="flex flex-col items-start text-sm md:text-lg lg:text-2xl"
              >
                <li>
                  <a
                    href="https://react-calculatorjuan.herokuapp.com/"
                    class="hover:text-blue-500"
                    >Calculadora</a
                  >
                </li>
                <li>
                  <a
                    href="https://tranquil-fjord-10617.herokuapp.com/"
                    class="hover:text-blue-500"
                  >
                    Busca tu Canción</a
                  >
                </li>
                <li>
                  <a
                    href="https://relaxed-conkies-88700d.netlify.app/"
                    class="hover:text-blue-500"
                  >
                    Maquetacion de pagina</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="h-96 w-screen md:w-10/12 lg:w-2/3 bg-gradient-to-tl to-slate-400 from-orange-200 grid-cols-1 justify-items-center justify-evenly hidden shadow-md shadow-gray-600 hover:shadow-lg hover:shadow-zinc-700 rounded-md"
        >
          <div
            class="bg-white w-2/3 h-80 flex flex-col items-center justify-around border-2 border-slate-500 box-border mb-4 mt-8 rounded-lg"
          >
            <h1
              class="text-center font-extrabold text-lg md:text-xl lg:text-2xl"
            >
              Contactame por
            </h1>
            <ol class="text-left ml-10 text-sm md:text-lg lg:text-xl">
              <li>
                <i class="fa-solid fa-envelope"></i>
                <b
                  ><a
                    href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMvkMvDGCtVXSFmQcwXQshcwDBxlQTtmhVqjHfVmJPPfpTFkHFfdVcrktdgdccwZVpJVSB"
                    class="hover:text-blue-500"
                    >Correo</a
                  ></b
                >
              </li>
              <li>
                <i class="fa-solid fa-mobile-retro"></i> <b>3005251250</b>
              </li>
              <li>
                <i class="fa-brands fa-linkedin"></i
                ><b
                  ><a
                    href="https://www.linkedin.com/in/juan-pablo-castellanos-torres-desarrollador-web-2335a41a9/"
                    class="hover:text-blue-500"
                    >Perfil De Linkedin</a
                  ></b
                >
              </li>
              <li></li>
            </ol>
          </div>
        </div>
      </div>
      <div
        class="c-boton flex flex-row justify-evenly w-full bg-gradient-to-l mt-1 h-12 items-center from-slate-400 to-zinc-100 mb-3"
      >
        <i class="fa-solid fa-circle boton text-3xl"></i>
      </div>
    </div>
    <footer class="relative bottom-0 text-center grid grid-cols-2 bg-slate-300 mt-14 ">
      <div class="">
          <h1 class="text-base  lg:text-xl font-semibold">Contactanos Por</h1>
  <ul class="text-base sm:text-sm md:text-lg">
    <li class="underline">
      <a href="https://www.facebook.com/" target="_blank"
        ><i class="fa-brands fa-facebook"></i> Facebook
    </a>
    </li>
    <li class="underline">
      <a href="https://www.instagram.com/?hl=es" target="_blank"
        ><i class="fa-brands fa-instagram"> </i>Instagram </i
      ></a>
    </li>
    <li class="underline">
      <a href="https://api.whatsapp.com/send?phone=3005251250" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</i></a>
    </li>
    <li class="underline">
      <a href="https://twitter.com/?lang=es" target="_blank"
        ><i class="fa-brands fa-twitter"> </i>Twiter</i
      ></a>
    </li>
  </ul>
</div>
<div class="">
    <h1 class="text-base lg:text-xl font-semibold">Soporte Tecnico</h1>
    <ol class="text-base sm:text-sm md:text-lg">
        <li class="underline"><a class="cursor-pointer" href="/src/templates/acercaDeNosotros.html">Acerca de nosotros</a></li>
        <li class="underline"><a class="cursor-pointer" href="./soporte.html">Soporte</a></li>
        <li class="underline"><a class="cursor-pointer" href="./avisoyPrivacidad.html">Aviso y Privacidad</a></li>
  </ol>
</div>
</footer>
    <script src="../js/acercaDeNosotros.js"></script>
    <script
      src="https://kit.fontawesome.com/c54ddc4a29.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
