<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="text-center flex items-center flex-col">
      <div
        class="text-2xl h-32 flex w-full flex-col justify-center font-semibold bg-gradient-to-l from-slate-400 to-zinc-100 mb-10"
      >
        Acerca De Mi
      </div>
      <div class="flex flex-col items-center carrusel w-4/5">
        <div
          class="h-96 w-screen lg:w-2/3 bg-slate-200 grid grid-cols-1 justify-items-center"
        >
          <div
            class="bg-white w-2/3 h-80 col-span-1 border-2 border-slate-500 box-border mb-4 mt-8"
          >
            <p
              class="italic text-sm text-center font-medium sm:text-lg md:text-lg lg:text-2xl"
            >
              En estos proyectos pongo en practica mis conocimientos. Me
              desempeño en el el Rol de frontend y estoy interesado en la parte
              backend en el que trabaje con proyectos mvc con tecnologia de
              Django y en aprendisaje con Node js con Express js manejando
              Postgresql.
            </p>
          </div>
        </div>
        <div
          class="h-96 w-screen lg:w-2/3 bg-slate-200 grid-cols-1 justify-items-center hidden"
        >
          <div
            class="bg-white flex items-center flex-col w-2/3 h-80 col-span-1 border-2 border-slate-500 box-border mb-4 mt-8"
          >
            <h1 class="text-center mt-4"><b>Proyectos que he realizado</b></h1>
            <div class="w-70 flex flex-col items-center mt-2">
              <ul class="flex flex-col items-start">
                <li>
                  <a href="https://react-calculatorjuan.herokuapp.com/"
                    >Calculadora</a
                  >
                </li>
                <li>
                  <a href="https://tranquil-fjord-10617.herokuapp.com/"
                    >Busca tu Canción</a
                  >
                </li>
                <li>
                  <a href="https://relaxed-conkies-88700d.netlify.app/"
                    >Maquetacion de pagina</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="h-96 w-screen lg:w-2/3 bg-slate-200 grid-cols-1 justify-items-center justify-evenly hidden"
        >
          <div
            class="bg-white w-2/3 h-80 flex flex-col items-center justify-around border-2 border-slate-500 box-border mb-4 mt-8"
          >
            <h1 class="text-center font-extrabold text-sm">Contactame por</h1>
            <ol class="text-left ml-10">
              <li>
                <i class="fa-solid fa-envelope"></i>
                <b
                  ><a
                    href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMvkMvDGCtVXSFmQcwXQshcwDBxlQTtmhVqjHfVmJPPfpTFkHFfdVcrktdgdccwZVpJVSB"
                    >Correo</a
                  ></b
                >
              </li>
              <li>
                <i class="fa-solid fa-mobile-retro"></i> <b>3005251250</b>
              </li>
              <li>
                <i class="fa-brands fa-linkedin"></i
                ><b
                  ><a
                    href="https://www.linkedin.com/in/juan-pablo-castellanos-torres-desarrollador-web-2335a41a9/"
                    >Perfil De Linkedin</a
                  ></b
                >
              </li>
              <li></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="c-boton flex flex-row justify-evenly w-full bg-slate-400">
        <i class="fa-solid fa-circle boton text-2xl"></i>
      </div>
    </div>
    <script src="../js/acercaDeNosotros.js"></script>
    <script
      src="https://kit.fontawesome.com/c54ddc4a29.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
