<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Aviso Y Privacidad 🔏</title>
  </head>
  <body class="bg-gradient-to-br from-slate-300 to-rose-100">
      <div class="text-center bg-black text-white h-10 flex flex-col justify-center text-2xl"><a href="../../index.html">My Eating Like</a></div>
      <div class="w-full">
        <main class="flex flex-col items-center mb-8">
            <h1 class="w-full h-10 capitalize text-lg md:text-lg lg:text-xl xl:text-4xl text-center font-semibold bg-gradient-to-tr from-gray-500 to-rose-100">
                Aviso  privacidad
            </h1>
            <div class="w-9/12 mb-12">

                <p class=" text-base sm:text-lg md:text-lg lg:text-2xl xl:text-2xl mt-10">La razon principal de la existencia de este proyecto es para la práctica de programación donde haga uso de mis conocimientos para la creación de diferentes componentes eventos funciones y estilos.</p>
                <h2 class="capitalize text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-3xl font-semibold mt-4">Herramientas de uso</h2>
                <div class="ml-6 w-1/2">
                    <h3 class="capitalize text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-2xl font-semibold ">Diseño</h3>
                    <p class=" text-base sm:text-lg md:text-lg lg:text-2xl xl:text-xl">Uso de herramientas como tailwind para la fácil manipulación de sus estilos.</p>
                    <h3 class="capitalize text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-2xl font-semibold ">Lenguaje</h3>
                    <p class=" text-base sm:text-lg md:text-lg lg:text-xl xl:text-xl"> Se hizo uso de <b>Vainilla js</b> con  el que se trabajo mucho para el renderizado de los slider que se fueron creando, trabajando estos de diferente manera logrando sus objetivos.</p>
                    
                    <h3 class="capitalize text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-2xl font-semibold ">Datos</h3>
                    <p class=" text-base sm:text-lg md:text-lg lg:text-2xl xl:text-xl">La página todos los datos que se registren aquí ninguno sera guardado</p>
                </div>
            </div>
        </main>
          <footer class="relative bottom-0 text-center grid grid-cols-2 bg-slate-300 mt-16">
              <div class="">
                  <h1 class="text-base  lg:text-xl font-semibold">Contactanos Por</h1>
          <ul class="text-base sm:text-sm md:text-lg">
            <li class="underline">
              <a href="https://www.facebook.com/"
                ><i class="fa-brands fa-facebook"></i> Facebook
            </a>
            </li>
            <li class="underline">
              <a href="https://www.instagram.com/?hl=es"
                ><i class="fa-brands fa-instagram"> </i>Instagram </i
              ></a>
            </li>
            <li class="underline">
              <a href=""><i class="fa-brands fa-whatsapp"></i> Whatsapp</i></a>
            </li>
            <li class="underline">
              <a href="https://twitter.com/?lang=es"
                ><i class="fa-brands fa-twitter"> </i>Twiter</i
              ></a>
            </li>
          </ul>
        </div>
        <div class="">
            <h1 class="text-base lg:text-xl font-semibold">Soporte Tecnico</h1>
            <ol class="text-base sm:text-sm md:text-lg">
                <li class="underline"><a class="cursor-pointer" href="/src/templates/acercaDeNosotros.html">Acerca de nosotros</a></li>
                <li class="underline"><a class="cursor-pointer" href="./soporte.html">Soporte</a></li>
                <li class="underline"><a class="cursor-pointer">Aviso y Privacidad</a></li>
          </ol>
        </div>
      </footer>
    </div>
  </body>
  </html>
  