<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Soporte</title>
</head>
<body>
<div class="bg-black text-gray-50 text-center text-xl flex flex-col justify-center h-10">My Eating like</div>
  <main class="">
    <div class="bg-gradient-to-bl from-pink-200 to-slate-400 text-center">
      <h1 class="text-lg lg:text-xl xl:text-2xl text-white">Soporte</h1>
    </div>
  </main>
  <section class=" flex flex-col items-center">
    <div class="w-1/2 bg-slate-200 mt-10">
      <p class="text-lg md:text-xl xl:2xl">Este es un lugar especial donde te pones en contacto con el desarrollador para resolver problemas que se esten presentando como tambien para decirles sugerencias que quieras presentar. </br>Cualquier apoyo duda o sugerencias nos ayuda a mejorar cada dia más.<br>Gracias por el apoyo por parte de este desarrollador.</p>
    </div>
  </section>
  <hr>
  <section class="mt-10">
    <div class="ml-10 ">
      <form action="">
        <label for="" class="text-lg md:text-xl xl-text-2xl ">Escribe tu mensaje de duda sugerencia o problema que tengas. (●'◡'●)</label></br>
        <textarea class="ml-80 mt-8 border-2 border-black" placeholder="Escribe aqui" name="" id="" cols="50" rows="5"></textarea>
      </form>
      <div class="flex flex-col items-center mt-8 w-3/4">
        <button class="bg-slate-300 w-1/4 h-10 rounded-lg md:w-1/3">Enviar</button>
      </div>
    </div>
  </section>
    <footer class="relative bottom-0 text-center grid grid-cols-2 bg-slate-300 mt-16 ">
        <div class="">
            <h1 class="text-base  lg:text-xl font-semibold">Contactanos Por</h1>
    <ul class="text-base sm:text-sm md:text-lg">
      <li class="underline">
        <a href="https://www.facebook.com/"
          ><i class="fa-brands fa-facebook"></i> Facebook
      </a>
      </li>
      <li class="underline">
        <a href="https://www.instagram.com/?hl=es"
          ><i class="fa-brands fa-instagram"> </i>Instagram </i
        ></a>
      </li>
      <li class="underline">
        <a href=""><i class="fa-brands fa-whatsapp"></i> Whatsapp</i></a>
      </li>
      <li class="underline">
        <a href="https://twitter.com/?lang=es"
          ><i class="fa-brands fa-twitter"> </i>Twiter</i
        ></a>
      </li>
    </ul>
  </div>
  <div class="">
      <h1 class="text-base lg:text-xl font-semibold">Soporte Tecnico</h1>
      <ol class="text-base sm:text-sm md:text-lg">
          <li class="underline"><a class="cursor-pointer" href="/src/templates/acercaDeNosotros.html">Acerca de nosotros</a></li>
          <li class="underline"><a class="cursor-pointer">Soporte</a></li>
          <li class="underline"><a class="cursor-pointer">Aviso y Privacidad</a></li>
    </ol>
  </div>
</footer>
</body>
</html>